.club-details-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;

  & .icon-action {
    margin: 0 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 #ccc;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(0.95);
    }
  }
}
