@import "../../general.style.scss";

.entry-page-container {
  width: 100%;
  // height: 100vh;
  min-height: 100vh;

  @include main-background();

  // display property
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  @media screen and (min-width: $small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
